.moviesList {
  list-style-type: none;
  display: flex;
  gap: 1.8em;
  flex-direction: row;
  padding: 0;
  flex-wrap: wrap;
}

.moviesList li {
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  width: 12em;

}

.moviesList h2 {
  font-size: 0.8em;
  margin: 0.5em
}